<div class="container">

	<div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>How It Works</h4>
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m6">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">border_color</i></h2>
                <h5 class="center">Fill Form</h5>

                <p class="light">Fill out the form with your information and a detailed description of service needed.</p>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
                <h5 class="center">Estimates</h5>

                <p class="light">An estimate would be sent to you via email. For more questions contact us.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
	<form >
	  First name: <input type="text" name="fname"><br>
	  Last name: <input type="text" name="lname"><br>
	  Address: <input type="text" name="address"><br>
	  City: <input type="text" name="city"><br>
	  Description: <input type="text" name="description"><br>
	  <input class="center" type="submit" value="Submit">
	</form>
	<br><br>

</div>
