<div class="container">
	<div class='center' style="padding-top: 50px">
	  <%= image_tag "TB_logo.png", size: "400x250"%>
	</div> 

  <div class="col s12 m7">
    <h2 class="header">Cleaning Services</h2>
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag "cleaning_image.jpg", class: "activator"%>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Services we offer:</p>
        </div>
        <div class="card-action">
          <a href="#">Get Quote</a>
        </div>
      </div>
    </div>
  </div> 
  <div class="col s12 m7">
    <h2 class="header">Rental Services</h2>
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag "car_rental.png", class: "activator"%>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Services we offer:</p>
        </div>
        <div class="card-action">
          <a href="#">Get Quote</a>
        </div>
      </div>
    </div>
  </div>             	
</div>
