<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Cleaning</a></li>
  <li><a href="#!">Car Rental</a></li>
  <li class="divider"></li>
  <li><a href="#!">General Services</a></li>
</ul>
<nav class=".pushpin-demo-nav pinned" data-target="header">
  <div class="nav-wrapper lime lighten-2">
    <%= link_to root_path do %>
      <%= image_tag "TB_logo.png", size: "95x62", class: "brand-logo right"%>
    <% end %>
    <ul id="nav-mobile" class="left hide-on-med-and-down ">
      <li><a class="dropdown-button" href="#!" id="dropdowner" data-target="dropdown1" >  Our Services<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="">Qoutes</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href=""><%= link_to 'Join Us', edit_user_registration_path %></a></li>
      <li><a href="">About</a></li>      
    </ul>
  </div>
</nav>
