
<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo right"><%= image_tag "IMG_4650.jpg", size: "95x62"%></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down ">
      <li><a href="">Services</a></li>
      <li><a href="">Qoutes</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
</nav>
